.lds_ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}

.lds_ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 3px;
    border: 3px solid var(--green-blue);
    border-radius: 50%;
    animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--green-blue) transparent transparent transparent;
}

.lds_ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds_ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds_ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds_ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  