.form__wrapper {
    min-width: 800px;
    min-height: 500px;
    border-radius: 10px;
    padding: 28px 40px 30px 40px;
    box-shadow: 0px 0px 20px 0px #00000033;

    @media (max-width: 1250px) {
        min-width: 760px;
        padding: 28px 30px 30px 30px;
    }

    @media (max-width: 1100px) {
        min-width: 660px;
        padding: 28px 15px 30px 15px;
    }

    @media (max-width: 900px) {
        padding: 28px 30px 30px 30px;
    }

    @media (max-width: 700px) {
        min-width: auto;
        padding: 28px 10px 30px 10px;
    }
}

.form {
    display: flex;
    gap: 10px;

    @media (max-width: 1100px) {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }
}

.form__left_section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input__container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;

    label {
        font-size: 16px;

        @media (max-width: 1100px) {
            font-size: 14px;
        }

        @media (max-width: 700px) {
            font-size: 16px;
        }
    }
}

.input {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--gray-200);
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 20px 0px #0000000D;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.error__input {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--red);
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 20px 0px #FF595933;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.select {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--gray-200);
    font-size: 14px;
    padding: 0 10px;
    box-shadow: 0px 0px 20px 0px #0000000D;
    
    background-image: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20.4201 9.4502L13.9001 15.9702C13.1301 16.7402 11.8701 16.7402 11.1001 15.9702L4.58008 9.4502' stroke='gray' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    @media (max-width: 700px) {
        width: 100%;
    }

    option {
        font-size: 14px;
    }
}

.input_error__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    position: absolute;
    bottom: -18px;

    @media (max-width: 700px) {
        width: 100%;
    }

    span {
        font-size: 12px;
        color: var(--red);
    }
}

.date__container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    margin-top: 13px;

    label {
        font-size: 16px;

        @media (max-width: 1100px) {
            font-size: 14px;
        }

        @media (max-width: 700px) {
            font-size: 16px;
        }
    }

    .date_inputs {
        display: flex;
        align-items: center;
        gap: 16px;

        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.date_input {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--gray-200);
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 20px 0px #0000000D;

    @media (max-width: 1100px) {
        width: 220px;
    }

    @media (max-width: 700px) {
        width: 100%;
    }
}

.error_date_input {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--red);
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 20px 0px #FF595933;

    @media (max-width: 1100px) {
        width: 220px;
    }

    @media (max-width: 700px) {
        width: 100%;
    }
}

.date_error__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -18px;
    width: 100%;

    span {
        font-size: 12px;
        color: var(--red);
    }
}

.form__right_section {
    @media (max-width: 700px) {
        width: 100%;
    }
}

.checkboxs__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 700px) {
        display: none;
    }
}

.checkbox__wrappper {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.un_search__params_span {
    font-size: 18px;
    opacity: .4;

    @media (max-width: 1250px) {
        font-size: 16px;
    }
}

.search__params_span {
    font-size: 18px;

    @media (max-width: 1250px) {
        font-size: 16px;
    }
}

.button__down_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 134px;

    @media (max-width: 700px) {
        margin-top: 40px;
    }
}

.button__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 700px) {
        width: 100%;
    }

    span {
        font-size: 14px;
        color: #949494;
    }

    
}

.button {
    width: 300px;
    height: 58px;
    border-radius: 5px;
    background-color: var(--blue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    transition: .2s ease;

    @media (max-width: 1100px) {
        width: 250px;
    }

    @media (max-width: 700px) {
        width: 100%;
    }

    &:active {
        transform: scale(0.95);
    }
}