.burger__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 24px;
    cursor: pointer;
}

.first__line, .second__line, .third__line {
    width: 100%;
    height: 3px;
    background-color: var(--green-blue);
}

.burger__menu__active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 14px;
    transform: translateX(0);
    transition: .2s ease;
    z-index: 99;
    background-color: var(--green-blue);
}

.burger__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 14px;
    transform: translateX(100%);
    transition: .2s ease;
    background-color: var(--green-blue);
}

.burger__menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger__close {
    width: 35px;
    height: 35px;
}

.burger__menu_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger__menu_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin-top: 50px;

    .burger__menu_nav_item {
        font-size: 22px;
        font-weight: 500;
        color: var(--white);
    }
}

.burger__login_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;

    .burger__register_link {
        font-size: 18px;
        color: var(--gray-100);
    }

    .burger__login_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 295px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--ligth-blue);
        font-size: 20px;
        font-weight: bold;
        color: var(--black);
        transition: .2s ease;

        &:active {
            transform: scale(0.95);
        }
    }
}

.burger__tarifs_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 260px;
    height: 80px;
    border-radius: 5px;
    background-color: var(--gray-100);
    margin-top: 50px;
}

.burger__tarifs_info_wrapper__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 7px;

    p {
        font-size: 15px;
        font-weight: 400;
        color: rgba(0, 0, 0, .4);
    }
}

.burger__tarifs_info_wrapper__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;

    .total__company {
        font-size: 20px;
        font-weight: bold;
        color: var(--black);
    }

    .company__limit {
        font-size: 18px;
        font-weight: bold;
        color: var(--green);
    }
}

.burger__user_info_wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.user__name {
    font-size: 22px;
    font-weight: 500;
}

.logout__button {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-200);
}

.user__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black);
}