.tarif_card__container {
    width: 415px;
    min-height: 540px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    padding: 0 10px 0 30px;
    border-radius: 10px 10px 0 0;
}

.card__header_text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tarif__title {
        font-size: 26px;
        font-weight: 500;
    }

    .tafifs__description {
        font-size: 16px;
        font-weight: 400;
    }
}

.card__header_image {
    width: 96px;
}

.card__main {
    padding: 33px 0 24px 30px;
}

.card__main_price_wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;
    min-height: 70px;
}

.price__wrapper {
    display: flex;
    align-items: center;
    gap: 19px;

    .tarif__price {
        font-size: 28px;
        font-weight: 500;
    }

    .tarif__oldprice {
        font-size: 23px;
        font-weight: 500;
        text-decoration: line-through;
        color: var(--gray-300);
    }
}

.price__description {
    font-size: 16px;
    font-weight: 400;
}

.card__main_tarif_options_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}

.tarif__options__title {
    font-size: 20px;
    font-weight: 500;
}

.tarif__options_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tarif__options__item {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 18px;
    }

    span {
        font-size: 16px;
        font-weight: 400;
    }
}

.card__main_button_wrapper {
    margin: 55px 30px 24px 30px;

    .tafifs__btn {
        width: 100%;
        height: 58px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
        transition: .2s ease;

        &:active {
            transform: scale(0.97);
            transition: .2s ease;
        }
    }
}

