.tarif_card__container {
    min-height: 540px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;

    @media (max-width: 1100px) {
        min-height: auto;
    }
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    padding: 0 10px 0 30px;
    border-radius: 10px 10px 0 0;
}

.card__header_text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tarif__title {
        font-size: 26px;
        font-weight: 500;

        @media (max-width: 1100px) {
            font-size: 24px;
        }
    }

    .tafifs__description {
        font-size: 16px;
        font-weight: 400;

        @media (max-width: 1100px) {
            font-size: 14px;
        }
    }
}

.card__header_image {
    width: 96px;

    @media (max-width: 1100px) {
        width: 80px;
    }
}

.card__main {
    padding: 33px 0 24px 30px;
}

.card__main_price_wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;
    min-height: 70px;
    position: relative;
}

.price__wrapper {
    display: flex;
    align-items: center;
    gap: 19px;

    .tarif__price {
        font-size: 28px;
        font-weight: 500;

        @media (max-width: 1100px) {
            font-size: 26px;
        }
    }

    .tarif__oldprice {
        font-size: 23px;
        font-weight: 500;
        text-decoration: line-through;
        color: var(--gray-300);
    }

    .current__tarif_wrapper {
        position: absolute;
        top: -20px;
        right: 10px;
        font-size: 13px;
        color: var(--white);
        padding: 3px 12px 4px 12px;
        border-radius: 10px;
        text-align: center;
        background-color: var(--blue);
    }

    @media (max-width: 1100px) {
        font-size: 20px;
    }
}

.price__description {
    font-size: 16px;
    font-weight: 400;

    @media (max-width: 1100px) {
        font-size: 14px;
    }
}

.card__main_tarif_options_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;

    @media (max-width: 1100px) {
        margin-top: 40px;
    }
}

.tarif__options__title {
    font-size: 20px;
    font-weight: 500;

    @media (max-width: 1100px) {
        font-size: 18px;
    }
}

.tarif__options_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tarif__options__item {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 18px;
    }

    span {
        font-size: 16px;
        font-weight: 400;

        @media (max-width: 1100px) {
            font-size: 14px;
        }
    }
}

.card__main_button_wrapper {
    margin: 55px 30px 24px 30px;

    @media (max-width: 1100px) {
        margin: 35px 20px 24px 20px;
    }

    .tafifs__btn {
        width: 100%;
        height: 58px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
    }
}

