.header {
    width: 100%;
    height: 90px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 49px;
}

.header__nav_item {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
}

.header__login_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.header__register_link {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-200);
    cursor: pointer;
}

.header__login_line {
    width: 2px;
    height: 26px;
    background-color: var(--green-blue);
    transform: rotate(180deg);
}

.header__login_button {
    width: 65px;
    height: 26px;
    border-radius: 5px;
    background-color: var(--ligth-blue);
    font-size: 14px;
    font-weight: 500;
    transition: .2s ease;

    &:active {
        transform: scale(0.95);
    }
}

.header__user_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
}

.user__name {
    font-size: 14px;
    font-weight: 400;
}

.logout__button {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-200);
}

.user__logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--black);
}

.header__tarifs_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 175px;
    height: 63px;
    border-radius: 5px;
    background-color: var(--gray-100);
    position: absolute;
    right: 20%;
}

.header__tarifs_info_wrapper__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 7px;

    p {
        font-size: 11px;
        font-weight: 400;
        color: rgba(0, 0, 0, .4);
    }
}

.header__tarifs_info_wrapper__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;

    .total__company {
        font-size: 14px;
        font-weight: 700;
        color: var(--black);
    }

    .company__limit {
        font-size: 14px;
        font-weight: 700;
        color: var(--green);
    }
}