/* Hero */
.hero__section {
    display: flex;
}

.hero__text_wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 60px;
}

.hero__title {
    font-family: 'Ferry';
    font-size: 58px;
    line-height: 68px;
    margin-bottom: 20px;
}

.hero__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 400px;
    margin-bottom: 70px;
}

.hero__btn {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--blue);
}

.hero__image_wrapper {
    width: 50%;
    margin-top: 20px;
}

/* Carousel */
.carousel__section {
    margin-top: 100px;
}

.carousel__title {
    font-family: 'Ferry';
    font-size: 42px;
}

.carousel__wrapper {
    margin-top: 70px;
}

/* Image */
.home__image_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.home__left__image {
    width: 40%;
}

.home__rigth__image {
    width: 35%;
}

/* Tarifs */
.tarifs__section {
    margin-top: 105px;
}

.tarifs__title {
    font-family: 'Ferry';
    font-size: 42px;
}

.tafifs__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
    margin: 70px 0 118px 0;
}